
LOCATE COMP "rx_in"       SITE "12" ;
LOCATE COMP "rx_out"      SITE "10" ;
LOCATE COMP "nerror_in"   SITE "5" ;
LOCATE COMP "resetb"      SITE "4" ;

LOCATE COMP "i2s_bck"     SITE "13" ;
LOCATE COMP "i2s_ws"      SITE "14" ;
LOCATE COMP "i2s_d0"      SITE "16" ;

LOCATE COMP "nenable_out" SITE "25" ;
LOCATE COMP "nmute_out"   SITE "26" ;
LOCATE COMP "i2c_sda"     SITE "27" ;
LOCATE COMP "i2c_scl"     SITE "28" ;


IOBUF PORT "rx_in" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "rx_out" IO_TYPE=LVCMOS33 PULLMODE=NONE ; 

IOBUF PORT "nerror_in" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "resetb" IO_TYPE=LVCMOS33 PULLMODE=UP ;

IOBUF PORT "i2s_bck" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "i2s_ws" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "i2s_d0" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;

IOBUF PORT "i2c_sda" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=16 ;
IOBUF PORT "i2c_scl" IO_TYPE=LVCMOS33 PULLMODE=UP DRIVE=16 ;

IOBUF PORT "nenable_out" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "nmute_out" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4;

#IOBUF PORT "clk_out" IO_TYPE=LVCMOS33 PULLMODE=NONE  ;

